body {
    background-color: #333; /* Dark Gray background */
    font-family: sans-serif;
    min-height: 100vh;
    position: relative; /* Set position to relative for absolute positioning of children */
    padding: 20px;
}

.form-container h3 {
    text-align: center;
    color: #00ff00; /* Green neon for headers */
}
.form-group {
 margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Slightly lighter border */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #555; /* Input background */
}

.form-control:focus {
    outline: none;
    border-color: #00ff00; /* Green neon border on focus */
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.form-control::placeholder {
 color: #bbb; /* Placeholder color */
}

.btn-neon {
    background-color: transparent; /* Transparent background */
    color: #00ff00; /* Green neon text */
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
