<nav class="navbar">
  <a class="navbar-brand" href="/">
    <span class="logo">1337+</span>
  </a>
  <ul class="navmenu-list" id="navbarNav">
    <li class="hidden"><a class="btn" href="#" id="loginDropdownToggle">Login/Register</a></li>
    <li class="hidden"><a class="btn" href="/profile" id="profileLink">Profile</a></li>
    <li class="hidden"><a class="btn" href="/admin" id="adminLink">Admin</a></li>
    <li class="hidden"><a id="signOutButton" class="btn" href="#">Sign Out</a></li>
  </ul>
</nav>